<p>Dear <b>{{company_name}}'s</b> Team,</p>
<p>Congratulations on your new venture! I'm <b>Divyansh Gupta</b> from Avyukt Tech Labs in New Delhi.<br/><br/>We specialize in website development, with packages starting at just <b><u>₹2,499</u></b>.
Our offer includes:</p>

<ul>
<li>Custom website development</li>
<li>Free domain & SSL (1st year, with 3-year plan)*</li>
<li>3 months hosting & support</li>
<li>Professional email & Google My Business setup</li>
</ul>

<p>Interested in boosting your online presence? Let's talk.</p>
<p>Contact me: <b>+91 8178392040</b> or reply to this email.</p>

<b>
<p>Best regards,<br/>
Divyansh Gupta<br/>
Avyukt Tech Labs Private Limited</p>
</b>